body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .footer {
    background-color: #222;
    padding: 2% 1%;
    text-align: center;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 298%;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
  }
  
  .social-media {
    margin-right: 2%;
  }
  
  .social-link {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
  }
  
  .social-link:hover {
    opacity: 1;
  }
  
  .footer-links {
    margin-right: 20px;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
  }
  
  .footer-link:hover {
    opacity: 1;
  }
  
  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 12px;
    opacity: 0.7;
  }
  
