@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: transparent;
}

ul {
    position: fixed;
    transform: skewY(-25deg);
}

ul li {
    position: absolute;
    top: 0;
    transform: translate(calc(var(--i) * 40px), calc(var(--i) * 40px));
    list-style: none;
    width: 120px;
    padding: 15px;
    background-color: darkgray;
    transition: 0.5s;
}

ul li:hover {
    top: -54px;
    background: var(--clr);
}

ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background-color: darkgray;
    transform-origin: right;
    transform: skewY(45deg);
}

ul li:hover:before {
    background: var(--clr);
    filter: brightness(0.8);
}

ul li::after {
    content: attr(data-text);
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: darkgray;
    transform-origin: bottom;
    transform: skewX(45deg);
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    left: 0.05em;
    padding-left: 15px;
    box-sizing: border-box;
    color: var(--clr);
}

ul li:hover::after {
    filter: brightness(0.9);
    background-color: var(--clr);
    color: white;
    box-shadow: -170px 170px 20px rgba(0, 0, 0, 0.25);
}

ul li a {
    text-decoration: none;
    color: transparent;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

ul li:hover a {
    color: darkgray;
}

ul li a span {
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    text-align: center;
    height: 100%;
    color: var(--clr);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}

ul li:hover a span {
    color: white;
}